<template name = "about">
	{{>layout}}
	<h1 class="white">Our Journey</h1>
	<div class="journey">	
		<p2>For Advanced Programming Development class, Alex, Ian and Jeff worked on a platform that helps students buy and sell textbooks. We believe that the school store is exploiting students because it charges students way too much for their textbooks. The majority of students spend hundreds of dollars every year just for their books, even though a year later they will no longer need them. Those used textbooks will either be recycled cheaply by the merciless bookstore, or be thrown into trash cans so that they won’t take up space in students’ limited luggages. We hope to create a platform where every student is able to register an account. If some students want to sell their books, they can put up notifications on the platform. Other users will see what books are on sell. If they are interested,they can find the contact information of the seller. We aim to bombard the peaceful land of Choate with our app, and students will be able to save tremendous amount of money.</p2>
	</div>
</template>

