<template name = "buybook">
  {{>layout}}
  <div class="container">
    {{> searchBox }}
    {{> searchResult}}

    <h1 class="white">Buy some books here</h1>
    <div class="listviewbuybook">
      {{#each search}}
      <ul>
        

        <div class="text">

         <li> <div id="image">{{> image}}</div></li>
          <div id="author">
             {{title}} <br>ISBN:{{isbn}}  <br>
            Author: {{firstname}} {{lastname}}<br> Seller: {{username}}</div>
          {{debug}}
        </div>
      </ul>
      {{/each}}
    </div>


  </div>

</template>


<template name="searchBox">
  <input type="text" id="search-box" placeholder="search books here" />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="searchbyisbn"> Search by ISBN
    </label>
  </div>
</template>

<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
      searching ...
      {{/if}}
    </div>

    {{#each getPackages}}
    <div class="package">
      <h4 class="name">
        <a href="{{git}}" target="_blank">{{{packageName}}}</a>
      </h4>
      <div class="description">
        {{{description}}}
      </div>
    </div>
    {{/each}}
  </div>
</template>

