<template name = "buybook">
  <h1>Buy some books here</h1>
    <ul>
  {{#each search}}
    <li> {{title}} <i>(Author: {{firstname}} {{lastname}}) (Seller: {{username}})</i> {{> image}} </li>
    {{debug}}
  {{/each}}
  </ul>

</template>
<body>
   {{>layout}}
  <div class="container">
    {{> searchBox }}
    {{> searchResult}}
  </div>
  </body>
<template name="searchBox">
  <input type="text" id="search-box" placeholder="search books here" />
</template>

<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    {{#each getPackages}}
    <div class="package">
      <h4 class="name">
        <a href="{{git}}" target="_blank">{{{packageName}}}</a>
      </h4>
      <div class="description">
        {{{description}}}
      </div>
    </div>
    {{/each}}
  </div>
</template>

