<template name = "guide">
	{{>layout}}
	<h1 class="white">User Manual</h1>
	<div class="users">
		<ul>
			<li>If you are an unregistered user, you can still learn about our mission in the About page. We highly recommend that you register. The website is very easy an convenient to use. </li>
			<li>You will need to get confirmation code from your email to register. Once you are registered and logged in, you will be directed to the main page. There are many things you can do with our website.</li>
			<li>If you want to sell a book, go to the Sellbook page. Enter all the information required, and press the submit button. Your selling information will then be posted in the Buybook page.</li>
			<li>If you want to buy a book, go to the Buybook page. You can choose to browse our gallery, or search tbe books you need using the search bar. You can either search via book title or via ISBN.</li>
			<li>After you find your intended book, click the book. On the next page, click the reserve button. The website will then send an email to the seller. The seller will contact you shortly for negotiations.</li>
			<li>If you want to delete a book you wished to sell or you entered false information or you have already sold the book, please go to the History page. Click on the book and a delete button will show up. Click on the "Delete" button, and the book you wanted to sell will be removed.</li>
			<li>If you are no longer interested in certain books you reserved, go to the My Reserved Books page. Click on the reserved book that you are no longer interested in, and on the next page click the "Cancel Reservation" button.   </li>
		</ul>
	</div>
</template>