<template name="header">  
  <nav class="navbar navbar-default" role="navigation">    
    <div class="container-fluid">      
      <div class="navbar-header">        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">          
          <span class="sr-only">Toggle navigation</span>          
          <span class="icon-bar"></span>          
          <span class="icon-bar"></span>          
          <span class="icon-bar"></span>        
        </button>        
          <a class="navbar-brand" href="{{pathFor 'mainPage'}}">SSS</a>      
      </div>      
      <div class="collapse navbar-collapse" id="navigation">        
        <ul class="nav navbar-nav navbar-right">          
            <a class="navbar-brand" href="{{pathFor 'buyBook'}}">Buy Books</a>
            <a class="navbar-brand" href="{{pathFor 'sellBook'}}">Sell Books</a>
            <a class="navbar-brand" href="{{pathFor 'login'}}">Login</a>
            <a class="navbar-brand" href="{{pathFor 'register'}}">Register</a>
        </ul>      
      </div>    
    </div>  
  </nav>
</template>