<template name = "history">
	{{>layout}}
	<h1 class="white">Books I'm Selling</h1>
	<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Book Name</th>
				<th>Seller</th>
				<th>Author</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each images}}
			{{#if isSelected}}
			<tr class="images {{isSelected}}">
				<td>{{title}}</td>
				<td>{{username}}</td>
				<td>{{firstname}}{{lastname}}</td>
				<td><button id="delete">Delete</button></td>
			</tr>
			{{else}}
			<tr class="images {{isSelected}}">
				<td>{{title}}</td>
				<td>{{username}}</td>
				<td>{{firstname}}{{lastname}}</td>
				<td></td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>
	</div>
</template>