h10{
    text-align: center;
    font-family: Verdana;
	color:white;
	padding-top: 10px;
	font-size: 40px;
}

.homeheader{
	text-align: center;
}

p{
	text-align: center;
	margin:auto;
	font-family: Verdana;
	color:white;
	font-size: 14px;
}

body{
	background-image:url('http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg');
	background-size: cover; 
	/*color:blue;
	font-size: 14px; 
	background-size: cover;*/
	
}

