<template name="layout">
	<div class="navbar">
		<div class="container">
			<div class="nav navbar-nav navbar-right">
				{{#if currentUser}}
				<a href="{{pathFor route='buybook'}}">Buybook</a>
				<a href="{{pathFor route='buybook2'}}">Buybook2</a>
				<a href="{{pathFor route='sellbook'}}">Sellbook</a>
				<a href="#" class="logout">Logout</a>


				
				{{else}}
				<a href="{{pathFor route='login'}}">Login</a>
				<a href="{{pathFor route='register'}}">Register</a>
				{{/if}}

			</div>
		</div>
	</div>
  <!--<div class="container">
    {{> yield}}
</div>-->
</template>
