<template name="layout">
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
			{{#if currentUser}}
			<div class="navbar-header">
      			<a class="navbar-brand" href="{{pathFor route='home'}}">SSS</a>
    		</div>
    		<ul class="nav navbar-nav">
    			<li><a href="{{pathFor route='about'}}">About</a></li>
    			<li><a href="{{pathFor route='buybook'}}">Buybook</a></li>
      		<li><a href="{{pathFor route='sellbook'}}">Sellbook</a></li>
          <li><a href="{{pathFor route='history'}}">History</a></li>
          <li><a href="{{pathFor route='reservations'}}">My Reserved Books</a></li>  
      		<li><a href="#" class="logout">Logout</a></li> 
    		</ul>
			{{else}}
			<div class="navbar-header">
      			<a class="navbar-brand" href="{{pathFor route='home'}}">SSS</a>
    		</div>
    		<ul class="nav navbar-nav">
    			<li><a href="{{pathFor route='about'}}">About</a></li>
    			<li><a href="{{pathFor route='buybook'}}">Buybook</a></li>
      		<li><a href="{{pathFor route='sellbook'}}">Sellbook</a></li>
          <li><a href="{{pathFor route='history'}}">History</a></li>  
      	</ul>
				<!--<a href="{{pathFor route='login'}}">Login</a>
				<a href="{{pathFor route='register'}}">Register</a>-->
			{{/if}}
		</div>
	</nav>
</template>
