<template name="layout">
	<div class="navbar">
		<div class="container">
			<div class="nav">
				{{#if currentUser}}
				<div class="block">
					<a href="{{pathFor route='buybook'}}">Buybook</a>
				</div>
				<div class="block">
				<a href="{{pathFor route='buybook2'}}">Buybook2</a>
				</div>
				<div class="block">
				<a href="{{pathFor route='sellbook'}}">Sellbook</a>
				</div>
				<div class="block">
				<a href="#" class="logout">Logout</a>
				</div>


				
				{{else}}
				<a href="{{pathFor route='login'}}">Login</a>
				<a href="{{pathFor route='register'}}">Register</a>
				{{/if}}

			</div>
		</div>
	</div>

</template>
