<template name="register">
  {{>layout}}
    <form>
    <div class="homeheader">
    <h11>Register</h11>
    </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="code">Confirmation Code</label>
        <input type="code" class="form-control" id="code" name="code" placeholder="Confirmation Code">
      <div class="form-group3"> 
      </div>
      <button type="submit" id="register">Register</button>
       <button type="button" id="sendcode">Send Verification Code</button>
      </div>
  </form>
</template>