<template name="register">
  {{>layout}}
    <form>
    <div class="homeheader">
    <h11>Register</h11>
    </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group3"> 
      <button type="submit" value="Register">Register</button>
      </div>
  </form>
</template>