<template name="reserved">
<!-- <<<<<<< HEAD
	<div class="container" style="border: 1px solid white">
	<h2 style="color: white">You successfully reserved a book. You will be contacted soon by the seller.</h2>
======= -->
	{{>layout}}
	<div class="container">
	<h1 class = "white">You successfully reserved a book.</h1> 
	<h1 class = "white">You will be contacted soon by the seller.</h1>
	</div>
<!-- >>>>>>> dfad578b2692d2df44b6100f34ebba030d7b357d -->

	<div class="onlyButtonOnReserved">
	<button id="back">Back to list</button>
	</div>
	<!-- </div> -->

</template>
