.adjust {
	margin: auto;
	height: 500px;
	width: 500px;
	border: 1px solid red;
	background-color: white;
}

h5{
    text-align: center;
    font-family: Verdana;
	color:black;
	padding-top: 30px;
	font-size: 40px;
}

.imagespace{
	padding-top: 30px;
}

h3{
	padding-left: 20px;
	color: black;
}
#photo{
	height: 50px;
	width: 50px;
}

.buybook2{
	padding-top: 50px;
}