.adjust {
	margin: auto;
	height: 500px;
	width: 400px;
	border: 1px solid white;
}

h5{
    text-align: center;
    font-family: Verdana;
	color:white;
	padding-top: 30px;
	font-size: 40px;
}

.imagespace{
	padding-top: 30px;
	padding-left: 80px;
}

h3{
	padding-left: 20px;
}
#photo{
	height: 240px;
	width: 240px;
}

.reservationDetail{
	padding-top: 50px;
}

h7{
	font-size: 20px;
	color: white;
}

.bookinfo{
	padding-left: 10px;
	text-align: center;
}

.buttonspace{
	position: center;
	padding-left: 70px;
	padding-top: 15px;
	/*position: fixed;
	left: 50%;
	transform: translate(-50%, 0%);*/
	/*width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;*/
}